<a href="https://colab.research.google.com/github/NadipilliAditya/K-hubtaks/blob/main/K_hub_Day_1_Task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **DAY-1**

Python basics

1. strings and string methods, booleans, and operators

2. list, tuples, sets and dictionaries

3. conditional Statements

4. Match Case

**Strings**
strings are denoted by single or double quotes.

In [ ]:
print("hii")

print('hii')

hii
hii

**Assign String to a Variable**

Allocating a value to a variable using equal to operator

In [ ]:
# single line strings
a = "good morning"
print(a)

good morning

In [ ]:
# multi line strings
message = """This is line one.
This is line two."""
print(message)

This is line one.
This is line two.

In [ ]:
#Get position of a character (indexing)
a = "Hello,buddies"
print(a[1])

e

In [ ]:
# Looping Through a String
for x in "apple":
  print(x)

a
p
p
l
e

In [ ]:
# string length
a= "hii guys"
print(len(a))

8

In [ ]:
#Check String
#To check if a certain phrase or character is present in a string
# using in keyword

txt = "Everything is precious in this world"
print("world" in txt)
print("hii" in txt)

True
False

In [ ]:
#Slicing
a = "Hello, World!"
print(a[2:5])

llo

In [ ]:
#Slice From the Start
a = "all glitters or not gold"
print(a[:5])
#Slice To the End
print(a[2:])

all g
l glitters or not gold

In [ ]:
#Modify Strings

#upper case
a = "explore the world"
print(a.upper())

#lower case
print(a.lower())

#Remove Whitespace
print(a.strip())

#Replace String
print(a.replace("world", "universe"))

#Split String
print(a.split(","))

EXPLORE THE WORLD
explore the world
explore the world
explore the universe
['explore the world']

In [ ]:
#String Concatenation
#combining two strings using "+" operator
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [ ]:
#String Format
age = 36
#This will produce an error:
txt = "My name is arjun, I am " + age
print(txt)

TypeError: can only concatenate str (not "int") to str

In [ ]:
#Placeholders and Modifiers
age = 36
txt = "my name is jhon, i am {} year's old"
print(txt .format(age))

my name is jhon, i am 36 year's old

In [ ]:
#String Methods
a = "Explore the World"
print(a.center(30))  # Centers the string within a width of 30 characters

print(a.casefold())

print(a.count("10"))

      Explore the World
explore the world
0

#**Booleans**
Booleans represent one of two values: True or False.

In [ ]:
print(1 > 9)
print(19 == 9)
print(10 < 100)

False
False
True

#**Operators**

In [ ]:
a = 20
b = 10

# Addition
print(a+b)

#sub
print(a-b)

#mul
print(a*b)

#div
print(a/b)

#mod
print(a%b)

#exp
print(a**b)

#floor
print(a//b)

30
10
200
2.0
0
10240000000000
2

#**Lists**

In [ ]:
names = ["arjun", "anu", "cherry"]
print(names)

['arjun', 'anu', 'cherry']

In [ ]:
#List Length
names = ["arjun", "anu", "cherry"]
print(len(names))

3

In [ ]:
#Access List Items
thislist = ["mango", "orange", "cherry"]
print(thislist[1])

#Negative Indexing
print(thislist[-1])

orange
cherry

# **Change List Items**

In [ ]:
#Change Item Value
thislist = ["vanila", "chocolate", "strawberry"]
thislist[1] = "blackcurrant"
print(thislist)

#Change a Range of Item Values
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

['vanila', 'blackcurrant', 'strawberry']
['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

In [ ]:
#Add List Items
#To add an item to the end of the list, use the append() method:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

In [ ]:
#Insert Items
thislist = ["apple", "mango", "grape"]
thislist.insert(2, "orange")
print(thislist)

#Remove Specified Item
thislist.remove( "mango")
print(thislist)

#Remove Specified Index
thislist.pop(1)
print(thislist)

#delete specific item
del thislist[0]
print(thislist)


#clear list
thislist.clear()
print(thislist)

['apple', 'mango', 'orange', 'grape']
['apple', 'orange', 'grape']
['apple', 'grape']
['grape']
[]

In [ ]:
#Loop Lists

#Loop Through a List
a = ["kiwi", "pine apple", "mango"]
for x in a:
  print(x)

kiwi
pine apple
mango

# **Tuples**
Tuples are used to store multiple items in a single variable.

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

# its also allows duplicate values

('apple', 'banana', 'cherry')

In [ ]:
#Tuple length
thistuple = ("blackcurrant, watermelon")
print(len(thistuple))

24

In [ ]:
# Access tuple items
thistuple = ("blackcurrant" , "watermelon", " cherry")
print(thistuple[1])

#Negative Indexing
print(thistuple[-1])

#Range of Indexes
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

watermelon
 cherry

In [ ]:
# Update Tuples

#Change Tuple Values
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

#Add Items
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)

print(thistuple)

#Remove Items
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)

print(thistuple)

('apple', 'kiwi', 'cherry')
('apple', 'banana', 'cherry', 'orange')
('banana', 'cherry')

In [ ]:
#Using Asterisk*

fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [ ]:
#Join Two Tuples
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

#Multiply Tuples
fruits = ('cherry', 'strawberry', 'raspberry')
mytuple = fruits * 3

print(mytuple)

('a', 'b', 'c', 1, 2, 3)
('cherry', 'strawberry', 'raspberry', 'cherry', 'strawberry', 'raspberry', 'cherry', 'strawberry', 'raspberry')

In [ ]:
#Tuple Methods
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = thistuple.count(5)

print(x)

y = thistuple.index(4)
print(y)

2
6

# **Sets**

In [ ]:
myset = {"kiwi", "melon", "grape"}
print(myset)

{'grape', 'kiwi', 'melon'}

In [ ]:
#duplicates not allowed in sets
myset = {"kiwi", "melon", "grape","kiwi"}
print(myset)

#True and 1 is considered the same value:
myset = {"kiwi", "melon", "grape","kiwi",True,1,2}
print(myset)

#False and 0 is considered the same value:
myset = {"kiwi", "melon", "grape","kiwi",False,0,1}
print(myset)

{'grape', 'kiwi', 'melon'}
{True, 'kiwi', 2, 'melon', 'grape'}
{False, 1, 'kiwi', 'melon', 'grape'}

In [ ]:
#Get the Length of a Set
myset = {"orange","apple", "mango"}
print(len(myset))

#type()
myset = {"orange" , "apple",  "mango"}
print(type(myset))

3
<class 'set'>

# **Access Set Items**

In [ ]:
myset = {"orange" , "apple",  "mango"}
for x in myset:

  print(x)

#element present in the set using "in" keyword
print("mango" in myset)

#element not present in the set using "not in" keyword
print("kiwi" not in myset)

print("cherry" in myset)

mango
orange
apple
True
True
False

# **Add Set Items**

In [ ]:
myset = {"kiwi", "grape", "melon"}
myset.add("orange")
print("myset")

myset

In [ ]:
#Add Sets
bag1 = {"mango", "pineapple","rasberry"}
bag2 = {"grapes", "kiwi", "cherry"}

bag1.update(bag2)
print(bag1)

{'mango', 'kiwi', 'cherry', 'grapes', 'rasberry', 'pineapple'}

# **Remove Set Items**

In [ ]:
fruits = {"apple", "banana", "cherry"}

fruits.remove("banana")

print(fruits)

fruits.discard("cherry")

print(fruits)

{'cherry', 'apple'}
{'apple'}

In [ ]:
#Remove a random item by using the pop() method:
fruits = {"promogrnite", "banana", "kiwi"}

x = fruits.pop()

print(x)

print(fruits)

banana
{'kiwi', 'promogrnite'}

In [ ]:
# Clear() using this keyword it clears the complete set
fruits = {"promogrnite", "banana", "kiwi"}

x = fruits.clear()

print(fruits)

set()

# **Loop Sets**

In [ ]:
#for loop
countries = {"India","usa", "franace"}
for x in countries:
  print(x)

usa
franace
India

# **Join Sets**

In [ ]:
#union or |

set1 = {"a", "b", "c", 'd', "f"}
set2 = {1, 2, 3}

set3 = set1 | set2
print(set3)

{1, 2, 3, 'a', 'f', 'c', 'd', 'b'}

In [ ]:
#Join Multiple Sets
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}
set3 = {True, False, False}
set4 = {"kiwi", "cherry"}

myset = set1.union(set2, set3, set4)
print(myset)

{False, 1, 2, 3, 'kiwi', 'cherry', 'c', 'b', 'a'}

In [ ]:
#join set and a tuple
x = {"arjun","krishna","ravi"}
y = (1, 2, 3)

z = x.union(y)
print(z)

{1, 2, 3, 'krishna', 'arjun', 'ravi'}

In [ ]:
#intersection or &
x = {"apple", "wipro", "deloitte"}
y = {"google", "microsoft", "apple"}

z = x.intersection(y)

print(z)

{'apple'}

In [ ]:
# Difference or -
x = {"apple", "wipro", "deloitte"}
y = {"google", "microsoft", "apple"}

z = x.difference(y)

print(z)

{'deloitte', 'wipro'}

In [ ]:
#Symmetric Differences or ^
x = {"apple", "wipro", "deloitte","tcs"}
y = {"google", "microsoft", "apple", "amazon"}

z = x.symmetric_difference(y)

print(z)

{'google', 'deloitte', 'amazon', 'wipro', 'microsoft', 'tcs'}

# **Set methods**

In [ ]:
original_set = {1, 2, 3, 4}
copied_set = original_set.copy()
original_set.add(5)
copied_set.remove(1)
print("Original Set:", original_set)
print("Copied Set:", copied_set)

Original Set: {1, 2, 3, 4, 5}
Copied Set: {2, 3, 4}

# **Dictionaries**

In [ ]:
mycar = {
    "brand": "audi",
    "model": "Q7",
    "year": 2024
}
print(mycar)

{'brand': 'audi', 'model': 'Q7', 'year': 2024}

In [ ]:
#Dictionary iteams
mycar = {
    "brand": "audi",
    "model": "Q7",
    "year": 2024
}
print(mycar["brand"])

menu = {
    "food item":"biryani",
    "price":"400",
    "quantity":"2"
}
print(menu["food item"])

audi
biryani

In [ ]:
#Duplicates Not Allowed
mycar = {
    "brand": "mahindra",
    "model": "Thar",
    "year": 2024,
    "year": 2023
}
print(mycar)

{'brand': 'mahindra', 'model': 'Thar', 'year': 2023}

In [ ]:
#data types
thisdict = {
  "brand": "Ford",
  "electric": False,
  "year": 1964,
  "colors": ["red", "white", "blue"]
}
print(thisdict)

{'brand': 'Ford', 'electric': False, 'year': 1964, 'colors': ['red', 'white', 'blue']}

In [ ]:
#type()
mycar = {
    "brand": "mahindra",
    "model": "Thar",
    "year": 2024

}
print(type(thisdict))

<class 'dict'>

# **Access Dictionary Items**

In [ ]:
#accessing items
thisdict = {
  "brand": "Mahindra",
  "model": "Thar",
  "year": 1964
}
x = thisdict["brand"]
print(x)

y = thisdict["model"]
print(y)

Mahindra
Thar

 **Get Keys**

In [ ]:
bike = {
    "brand": "royal enfield",
    "model": "Gt 650",
    "year": 2025
}
x = bike.keys()
print(x)

x = thisdict.keys()

dict_keys(['brand', 'model', 'year'])

 **Get Values**

In [ ]:
bike = {
    "brand": "royal enfield",
    "model": "Gt 650",
    "year": 2025
}
x = bike.values()
print(x)

dict_values(['royal enfield', 'Gt 650', 2025])

 **Get Items**

In [ ]:
shoe = {
    "brand": "Nike",
    "model": "Air Max",
    "year": 2023
}
x = shoe.items()
print(x)

dict_items([('brand', 'Nike'), ('model', 'Air Max'), ('year', 2023)])

 **Check if Key Exists**

In [ ]:
watch= {
  "brand": "jokers witch",
  "model": "analog",
  "year": 2025
}
if "model" in thisdict:
  print("Yes, 'model' is exists our store")

Yes, 'model' is exists our store

# **Change Dictionary Items**

In [ ]:
watch= {
  "brand": "jokers witch",
  "model": "analog",
  "year": 2025
}
watch["model"] = 'smart'
print(watch)

#using update key word
watch.update({"year": 2020})
print(watch)

{'brand': 'jokers witch', 'model': 'smart', 'year': 2025}
{'brand': 'jokers witch', 'model': 'smart', 'year': 2020}

# **Add Dictionary Items**

In [ ]:
#Add Dictionary Items
watch= {
  "brand": "jokers witch",
  "model": "analog",
  "year": 2025
}
watch["color"] = "black"
print(watch)

#Update Dictionary
watch= {
  "brand": "jokers witch",
  "model": "analog",
  "year": 2025
}
watch.update({"color": "stainless steel"})
print(watch)

{'brand': 'jokers witch', 'model': 'analog', 'year': 2025, 'color': 'black'}
{'brand': 'jokers witch', 'model': 'analog', 'year': 2025, 'color': 'stainless steel'}

# **Nested dictionaries**

In [ ]:
mycarCollection = {
  "car1" : {
    "name" : "ford",
    "year" : 2020
  },
  "car2" : {
    "name" : "bently",
    "year" : 2026
  },
  "car3" : {
    "name" : "tesla",
    "year" : 2024
  }
}

print(mycarCollection)

{'car1': {'name': 'ford', 'year': 2020}, 'car2': {'name': 'bently', 'year': 2026}, 'car3': {'name': 'tesla', 'year': 2024}}

**Access Items in Nested Dictionaries**

In [ ]:
mycarCollection = {
  "car1" : {
    "name" : "ford",
    "year" : 2020
  },
  "car2" : {
    "name" : "bently",
    "year" : 2026
  },
  "car3" : {
    "name" : "tesla",
    "year" : 2024
  }
}

print(mycarCollection["car2"]["name"])

bently

**Loop through nested  Dictionaries**

In [ ]:
mycarCollection = {
  "car1" : {
    "name" : "ford",
    "year" : 2020
  },
  "car2" : {
    "name" : "bently",
    "year" : 2026
  },
  "car3" : {
    "name" : "tesla",
    "year" : 2024
  }
}

for x, obj in mycarCollection.items():
    print(x)

    for y in obj:
        print(y + ':', obj[y])

car1
name: ford
year: 2020
car2
name: bently
year: 2026
car3
name: tesla
year: 2024


**Dictionary from keys**

In [ ]:
#fromkeys
x = ('apple', 'melon', 'kiwi')
y = 'fruit'

thisdict = dict.fromkeys(x, y)


print(thisdict)

#setdefault
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.setdefault("model", "Bronco")

print(x)

{'apple': 'fruit', 'melon': 'fruit', 'kiwi': 'fruit'}
Mustang

# **Conditions and If statements**

In [ ]:
#if condition
a = 20
b = 30
if a<b:
  print("a is greater than b")

a is greater than b

In [ ]:
#elif
a = 200
b = 200
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

In [ ]:
#else
a = 90
b = 10
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

In [ ]:
#And
a = 200
b = 33
c = 500
if a > b and c > a:
  print("Both conditions are True")

Both conditions are True

In [ ]:
#OR
a = 200
b = 33
c = 500
if a > b or c < a:
  print("Both conditions are True")

Both conditions are True

In [ ]:
#not
a = 15
b = 20
if not a > b:
  print("a is NOT greater than b")

a is NOT greater than b

In [ ]:
#Nested if
x = 15

if x > 10:
  print("Above ten,")
  if x > 20:
    print("and also above 20!")
  else:
    print("but not above 20.")

Above ten,
but not above 20.

In [ ]:
#pass statement
a = 92
b = 39
if a>b:
  print("pass")

pass

# **Match Case**

The match expression is evaluated once.

The value of the expression is compared with the values of each case.

If there is a match, the associated block of code is executed.

In [3]:
day = 6
match day:
    case 1:
        print("januaray")
    case 2:
        print("febuaray")
    case 3:
        print("march")
    case 4:
        print("April")
    case 5:
        print("may")
    case 6:
        print("june")
    case 7:
        print("July")
    case 8:
        print("August")
    case 9:
        print("September")
    case 10:
        print("October")
    case 11:
        print("November")
    case 12:
        print("December")

june

**Default Value**

In [4]:
day = 4
match day:
  case 6:
    print("Today is Saturday")
  case 7:
    print("Today is Sunday")
  case _:
    print("Looking forward to the Weekend")

Looking forward to the Weekend

**Combine Values**

using pipe symbol(|)

In [6]:
day = 6
match day:
  case 1 | 2 | 3 | 4 | 5:
    print("Today is a weekday")
  case 6 | 7:
    print("I like weekends!")

I like weekends!

#**If Statements as Guards**

You can add if statements in the case evaluation as an extra condition-check:

In [9]:
x = 20

match x:
    case int() if x > 0:
        print("Positive integer")
    case int() if x < 0:
        print("Negative integer")
    case int():
        print("Zero")
    case _:
        print("Not an integer")

Positive integer