<a href="https://colab.research.google.com/github/NadipilliAditya/K-hubtaks/blob/main/K_hub_task_day_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Loops and functions**

**while loop**

the while loop we can execute a set of statements as long as a condition is true.

In [ ]:
i = 1
while i < 6:
  print(i)
  i +=1

1
2
3
4
5

**Break Statement**
 we can stop the loop even if the while condition is true:

In [ ]:
i = 5
while i < 15:
  print(i)
  if i == 10:
    break
  i += 1

5
6
7
8
9
10

**continue Statement** we can stop the current iteration, and continue with the next

In [ ]:
#Continue to the next iteration if i is 10
i = 2
while i < 15:
  i += 1
  if i == 10:
    continue
  print(i)

3
4
5
6
7
8
9
11
12
13
14
15

In [ ]:
#else statement
i = 1
while i < 8:
  print(i)
  i += 1
else:
  print("i is no longer less than 8")

1
2
3
4
5
6
7
i is no longer less than 8

**For Loops**
they are used to iterate in sequence

In [ ]:
cars = ["ford", "audi","skoda", "porsche"]
for x in cars:
  print(x)

ford
audi
skoda
porsche

In [ ]:
#Looping Through a String
for x in "Mahindra":
  print(x)

M
a
h
i
n
d
r
a

In [ ]:
#break statement
cars = ["mustang", "benz", "audi", "Bmw"]
for x in cars:
  print(x)
  if x == "benz":
    break

mustang
benz

In [ ]:
#continue statment
cars = ["mustang", "benz", "audi", "Bmw"]
for x in cars:
  if x == "audi":
    continue
  print(x)

mustang
benz
Bmw

**Range() function**

In [ ]:
for i in range(0,6):
  print(i)

0
1
2
3
4
5

In [ ]:
for i in range(0,12,2):
  print(i)

0
2
4
6
8
10

**Nested Loops**

In [ ]:
cars = ["Bmw", "audi", "Thar"]
colour = ["black", "blue", "red"]
for x in cars:
  for y in colour:
    print(x, y)

Bmw black
Bmw blue
Bmw red
audi black
audi blue
audi red
Thar black
Thar blue
Thar red

**Questions on loops basic to higher medium level**

In [ ]:
#Print Numbers from 1 to 10:
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
#Sum of All Even Numbers
i = 0
for num in range(1, 101):
    if num % 2 == 0:
      i += num

print("Sum of even numbers from 1 to 100 is:",i)

Sum of even numbers from 1 to 100 is: 2550

In [ ]:
#Multiplication Table:
num = int(input("Enter a number: "))
for i in range(1,13):
    print(f"{num} x {i} = {num * i}")

Enter a number: 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
5 x 11 = 55
5 x 12 = 60

In [ ]:
#Print Odd Numbers with a Condition:
for i in range(1,50):
  if i % 5 != 0:
    continue
  if i % 2 !=0:
    print(i)

5
15
25
35
45

In [ ]:
#Find Prime Numbers (From 2 to n)
n = int(input("Enter a number: "))
for num in range(2, n + 1):
    for i in range(2, num):
        if (num % i) == 0:
            break
    else:
        print(num)

Enter a number: 10
2
3
5
7

In [ ]:
#Find First Multiple of 7 in a Sequence
while True:
    num = int(input("Enter a number: "))
    if num < 0:
        break
    if num % 7 == 0:
        print(f"{num} is a multiple of 7. Stopping the input.")
        break

Enter a number: 36
Enter a number: 35
35 is a multiple of 7. Stopping the input.

In [ ]:
#List Reversal Using a Loop:
my_list = [1, 2, 3, 4, 5]
reversedlist  = []
for i in range(len(my_list) - 1, -1, -1):
    reversedlist.append(my_list[i])
    print(reversedlist)

[5]
[5, 4]
[5, 4, 3]
[5, 4, 3, 2]
[5, 4, 3, 2, 1]

In [ ]:
#Nested Loops - Pattern Printing:
rows = 5
for i in range(1, rows+1 ):
  for j in range(i):
    print("* ", end="")
  print()

*
* *
* * *
* * * *
* * * * *

In [ ]:
#Multiplication Table Grid
for i in range(1, 13):
    for j in range(1, 13):
        print(f"{i*j:4}", end="")
    print()

   1   2   3   4   5   6   7   8   9  10  11  12
   2   4   6   8  10  12  14  16  18  20  22  24
   3   6   9  12  15  18  21  24  27  30  33  36
   4   8  12  16  20  24  28  32  36  40  44  48
   5  10  15  20  25  30  35  40  45  50  55  60
   6  12  18  24  30  36  42  48  54  60  66  72
   7  14  21  28  35  42  49  56  63  70  77  84
   8  16  24  32  40  48  56  64  72  80  88  96
   9  18  27  36  45  54  63  72  81  90  99 108
  10  20  30  40  50  60  70  80  90 100 110 120
  11  22  33  44  55  66  77  88  99 110 121 132
  12  24  36  48  60  72  84  96 108 120 132 144

In [ ]:
#Find Factorial of a Number
num = int(input("Enter a number: "))
factorial = 1
for i in range(1, num + 1):
    factorial *= i
print(f"Factorial of {num} is {factorial}")

Enter a number: 5
Factorial of 5 is 120

In [ ]:
#find the Largest Number in a List
numbers = [3, 9, 1, 6, 2, 8]
largest = numbers[0]
for num in numbers:
    if num > largest:
        largest = num
print(f"Largest number is {largest}")

Largest number is 9

In [ ]:
x = [1,2,3,4,5]
for i in range(len(x)):
  print(x[i])

1
2
3
4
5

**Functions**

In [ ]:
#Creating a Function
def my_function():
  print("hello")

In [ ]:
#calling function
def my_function():
  return(" Hello,K-Hub")
my_function()

 Hello,K-Hub

In [ ]:
#Aruguments
def my_function(audi):
  return("audi"+audi)
my_function("Q7")
my_function("Q8")

audiQ7
audiQ8

In [ ]:
#Number of Arguments
def add(a,b):
  return a+b
add(2,3)

5

In [ ]:
#Arbitrary Arguments, *args
def function(*cars):
  return("the best car is "+cars[2])
function("ford","audi","skoda")

'the best car is skoda'

In [ ]:
def function(*snack):
  return("the best snack is "+snack[1])
function("momos","french fries","shavarama","Burger","pasta")

the best snack is french fries

In [ ]:
#Keyword Arguments
def function(place1,place2,place3):
  return("the best place is "+place3)
function(place1="delhi",place2="mumbai",place3="goa")

'the best place is goa'

In [ ]:
#Arbitrary Keyword Arguments, **kwargs
def greet(**kwargs):
    for key, value in kwargs.items():
        print(f"{key}: {value}")

greet(name="V akhil", age=65, city="Nuzvid")

name: V akhil
age: 65
city: Nuzvid

In [ ]:
#Default Parameter Value
def my_function(country = "VIZAG"):
  print("I am from " + country)

my_function("GOA")
my_function("India")
my_function()
my_function("MUNNAR")
my_function()

I am from GOA
I am from India
I am from VIZAG
I am from MUNNAR
I am from VIZAG

In [ ]:
#Passing a List as an Argument
def Food(food):
  for x in food:
    print(x)

fruits = ["kiwi", "Mango", "musk melon"]

Food(fruits)

kiwi
Mango
musk melon

In [ ]:
#Return Values
def my_function(x):
  return 7 * x

print(my_function(2))
print(my_function(4))
print(my_function(6))

14
28
42

In [2]:
#Positional-Only Arguments
def my_function(*, x):
  return(x)

my_function(x = 45)

45

In [5]:
#Combine Positional-Only and Keyword-Only
def my_function(a, b, c, d):
  return(a + b + c + d)

my_function(5, 6, c = 7, d = 8)

26

**Lambda**

In [7]:
x = lambda a: a * 10
print(x(5))

#Multiply of two aruguments
x = lambda a, b : a * b
print(x(20, 30))

50
600

In [10]:
def myfunc(n):
  return lambda a : a * n

mytriple = myfunc(3)

print(mytriple(11))

33